div .ant-card {
  display: grid;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
div .card-date {
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #827e7e;
}
div div .card-title {
  display: flex;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
}
div .card-tags {
  align-self: start;
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}
div .card-tags .tag {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
div .ant-card-body {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-column-gap: 5px;
  padding: 0;
}

.card-img {
  width: 160px;
  height: 253px;
  object-fit: cover;
  grid-row: 1/6;
  padding: 0;
}

.card-overview {
  margin-top: 0.5em;
  font-size: 14px;
  align-self: stretch;
  justify-self: stretch;
}

.ant-card-body:after,
.ant-card-body:before {
  display: none;
}

.card-popularity-count {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  border: 3px solid #e90000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: start;
}

.card-popularity-count.orange {
  border-color: #e97e00;
}

.card-popularity-count.yellow {
  border-color: #e9d100;
}

.card-popularity-count.green {
  border-color: #66e900;
}

@media (max-width: 500px) {
  ul.ant-rate {
    font-size: 14px;
  }
  .card-overview {
    display: block;
  }
  .ant-tag.card-tags {
    font-size: 7px;
  }
  .card-movie-title {
    font-size: 16px;
  }
  .card-img {
    max-width: 100%;
    max-height: 50%;
    grid-row: 1/4;
  }
}

@media (max-width: 900px) {
  li {
    margin-bottom: 1em;
  }
  .ant-rate {
    grid-column: 1/4;
  }
  .card-overview {
    font-size: 12px;
  }
  .card-img {
    grid-row: 1/5;
  }
  div .ant-card-body {
    grid-template-columns: 0.4fr 1fr;
  }
}
